
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main{
    width: 700px;
    margin: 100px auto 0;
    border: 1px solid black;
    padding: 10px;
}
.main input{
    padding: 10px;
    width: 70%;
}
.main button{
    padding: 10px;
    width: 26%;
}
table{
    width: 100%;
}
table , th , td , tr{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th{
    padding: 10px 0;
}
td{
    padding: 10px;
}
tr td:first-child , tr td:last-child{
    width: 40%;
}